**/cy/
**/cypress/
**/.tool-versions
**/tags
**/.prettierrc.js
**/.prettierignore
**/__logs__
**/*.___scratch*
**/*nvimlog*
**/.eslint*
**/.pre-commit-config.yaml
**/.yarnrc
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.vim
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/README.md
**/coverage
**/build
**/yarn-error.log
**/.github
**/__data__*.json
**/.netlify
**/dev-certificates
**/feats
**/*.code-workspace
**/.next
