.git
*Dockerfile*
*docker-compose*
**/node_modules
**/coverage
**/build
**/.vim
**/.netlify
.vscode/
tags
.vim
coverage
cypress
.env-cmdrc.example.js
.prettierrc.js
README.md
.dockerignore
**/yarn-error.log
