/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
.elixir_ls/
**/.formatter.exs*
.git
**/.gitignore
**/README.md
**/lib_dev/
.tool-versions
tags
.vim
*Dockerfile*
docker/data/
.env*
Procfile
*.code-workspace
elixir_buildpack.config
**/test/
