{
  "dev": {
    "EBNIS_PHOENIX_PORT": "4022"
  },
  "email": {
    "EBNIS_SMTP_PASS": "pass",
    "EBNIS_SMTP_PORT": "111",
    "EBNIS_SMTP_RELAY": "smtp.my.email",
    "EBNIS_SMTP_USER": "user@my.email"
  }
}
