version: "3.4"
services:
  db:
    image: postgres:12.2
    ports:
      - "${EBNIS_DOCKER_HOST_DATABASE_PORT:-127.0.0.1:15432}:5432"
    restart: always
    environment:
      # the value must be same as database password in database url in
      # .env_docker
      POSTGRES_PASSWORD: postgres
      # the value must be same as database name in database url in .env_docker
      POSTGRES_DB: "${EBNIS_DATABASE_NAME:-ebnis_dev}"
    volumes:
      - ./docker/data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  api:
    build:
      context: .
    image: ebnis-demo
    ports:
      - "${EBNIS_DOCKER_HOST_PORT:-4000}:4000"
    depends_on:
      - "db"
    env_file:
      - ".env"
