version: "3.4"
services:
  db:
    image: postgres:12.2
    ports:
      - "${DOCKER_HOST_DATABASE_PORT:-127.0.0.1:45432}:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: "${DATABASE_NAME:-ebnis_dev}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - "./docker/data/postgres-${MIX_ENV:-dev}:/var/lib/postgresql/data"

  api:
    build:
      context: ./backend
      target: dev
      args:
        DOCKER_HOST_USER_NAME: "${DOCKER_HOST_USER_NAME}"
    image: ebnis-be-dev
    depends_on:
      - "db"
    entrypoint: ["/usr/local/bin/entrypoint.sh"]
    user: "${DOCKER_HOST_USER_NAME}"
    env_file: .env
    ports:
      - "${DOCKER_HOST_PORT:-4000}:${PORT:-4000}"
    user: "${DOCKER_HOST_USER_NAME}"
    volumes:
      - "./backend:/home/${DOCKER_HOST_USER_NAME}/src"
      - "notUsed_build:/home/${DOCKER_HOST_USER_NAME}/src/_build"
volumes:
  notUsed_build:
