@import "../../../../commons/src/styles/extensions.css";

.detailed-experience-component {
  padding-bottom: calc(var(--floating-circular-bottom) * 2.66);
  padding-top: 10px;

  .data-object {
    border: none;
  }

  .entry {
    &--is-danger {
      box-shadow: var(--media-shadow-1) var(--danger-color),
        var(--media-shadow-2) var(--danger-color);
    }
  }

  .entry__unsynced-error {
    color: var(--danger-color);
  }

  .top-options-menu {
    padding: 0 25px;
    height: 20px;
    margin-bottom: 20px;
  }

  .no-entry-button {
    margin-bottom: 20px;
  }

  .no-entry-menu {
    margin-top: 10px;
  }
}

.upsert-entry-trigger {
  z-index: 1;
}

.delete-experience-component,
.upsert-experience-notification-modal {
  .modal-card {
    max-width: 350px;
    width: 90%;
  }
}

.delete-experience__cancel-button {
  margin-left: 15px;
}

.refetch-btn {
  display: block;
  margin-top: 25px;
  min-width: 150px;
}

.detailed-experience {
  &__next-entries {
    margin-top: 20px;
    text-align: center;
  }
}

.detailed-experience {
  &__data-object-errors {
    position: relative;
    left: 10px;
  }

  &__data-object-error {
    position: relative;
    left: 10px;
  }
}
