%scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    /* background: var(--scrollbarBG); */
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 2px solid var(--scrollbarBG);
  }
}

%button {
  &.is-success {
    @apply bg-green-400
      border-transparent
      text-white;

    &:hover {
      @apply bg-green-500;
    }

    &:active {
      @apply bg-green-500;
    }

    &:focus {
      @apply bg-green-500;
    }
  }

  &.is-danger {
    @apply bg-red-400
      border-transparent
      text-white;

    &:hover {
      @apply bg-red-500;
    }

    &:active {
      @apply bg-red-500;
    }

    &:focus {
      @apply bg-red-500;
    }
  }
}
