%modal {
  .modal {
    &-background {
      pointer-events: none;
    }

    &-card {
      min-height: 500px;

      @media (max-height: 500px) {
        min-height: 100vh;
      }

      max-width: 450px;
    }

    &-card-title {
      flex-shrink: 1;
    }

    &-card-body {
      border-left: 1px solid var(--modal-card-body-border-color);
      border-right: 1px solid var(--modal-card-body-border-color);
    }
  }
}

%form-field-errors {
  color: var(--danger-color);

  label {
    color: var(--danger-color);
  }

  input {
    color: var(--danger-color);
    border-color: var(--danger-color);
  }
}
