%modal {
  .modal {
    &-background {
      pointer-events: none;
    }

    &-card {
      min-height: 500px;

      @media (max-height: 500px) {
        min-height: 100vh;
      }

      max-width: 450px;
    }

    &-card-title {
      flex-shrink: 1;
    }

    &-card-body {
      border-left: 1px solid var(--modal-card-body-border-color);
      border-right: 1px solid var(--modal-card-body-border-color);
    }
  }
}

%form-field-errors {
  color: var(--danger-color);

  label {
    color: var(--danger-color);
  }

  input {
    color: var(--danger-color);
    border-color: var(--danger-color);
  }
}

%chevron-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

%chevron-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

%auth-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .other-auth {
    margin-top: 80px;
    text-align: center;
  }

  .other-auth__other-link {
    font-weight: 800;
  }

  .outer_field {
    margin-bottom: 15px;
  }

  .form {
    width: 100%;

    &__caption {
      margin-bottom: 30px;
      font-weight: 700;
      text-align: center;
    }

    &__label {
      padding: 0px;
    }

    &__submit {
      text-align: center;

      + .form__submit {
        margin-top: 20px;
      }
    }

    &__field--errors {
      @extend %form-field-errors;
    }

    &__control-wrapper {
      flex: 1;
    }
  }
}
