@import "../../../shared//src//styles//extensions.css";

body {
  @extend %scroll-bar;
}

.eb-tiny-scroll {
  @extend %scroll-bar;
}

button:focus,
button:active {
  outline: none;
}

.animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes drop-up-animate-up {
  0% {
    transform: translateY(20px);
    opacity: 0.7;
  }

  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.drop-up-animate-up {
  animation-name: drop-up-animate-up;
}

.ebnis-drop-up {
  @apply hidden;

  .content {
    @apply cursor-pointer
      bg-blue-400
      mb-2
      pl-2
      pr-4
      py-1
      text-white
      mb-4
      font-bold
      whitespace-nowrap;
  }

  &.is-active {
    @apply flex
      flex-col
      items-end
      absolute
      right-0;
    bottom: 50px;
  }
}

.floating-circular {
  --right: 30px;
  @apply fixed;
  right: var(--right);
  bottom: var(--floating-circular-bottom);

  .circular {
    @apply flex
      items-center
      justify-center
      rounded-full
      text-white
      font-black
      cursor-pointer;
    width: 50px;
    height: 50px;
    background-color: var(--app-color);
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
}

.modal-scroll-into-view {
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
}

.eb {
  /* BUTTON */
  &-btn {
    @extend %button;
  }

  &-delete {
    @apply bg-gray-300
      rounded-full
      cursor-pointer
      flex-grow-0
      flex-shrink-0
      h-5
      w-5
      align-top
      border-0
      text-white
      text-xs
      inline-flex
      justify-center
      items-center
      border-none;

    &:hover {
      @apply bg-gray-400;
    }

    &:active {
      @apply bg-gray-400;
    }

    &:focus {
      @apply bg-gray-400;
    }

    .is-success & {
      @apply bg-green-500;
    }
  }

  /* MODAL */
  &-modal {
    &-card {
      max-height: min(80vh, 40rem);
      margin: 0 auto;

      @media (min-width: 580px) {
        width: 540px;
      }
    }
  }
}
