.my {
  &-component {
    .experience {
      &--is-danger {
        box-shadow: var(--media-shadow-1) var(--danger-color),
          var(--media-shadow-2) var(--danger-color);
      }

      &--is-warning {
        box-shadow: var(--media-shadow-1) var(--warning-color),
          var(--media-shadow-2) var(--warning-color);
      }

      &__title {
        display: block;
        padding: 0 0 25px 0;
      }
    }
  }
}
